body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgb(200, 200, 200) 0%, rgb(238, 238, 238) 35%, rgb(255, 255, 255) 100%);
}
.grafic2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(250, 250, 250);
    margin: 0;
}
#ed7ecaf33dda406ba919b6ebc448ab1c {
    width: 50vh;
    height: 50vh; 
    min-height: 300px; 
}
.main {
    width: 100%;
    height: auto;
}
#ending{
    background: linear-gradient(90deg, rgba(255,221,89,1) 0%, rgba(255,145,77,1) 100%);
    padding: 30px;
    border-radius: 5px;
    color: white;
}
.imagemprincipal {
    width: 100%;
    height: 100vh; /* Altura total da tela */
    object-fit: cover; /* Mantém a proporção e cobre a tela */
}

.text {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-10%, -50%); 
    text-align: left;
    font-size: clamp(14px, 3vw, 25px); 
    color: white;
    text-shadow: rgb(26, 26, 26) 0.1em 0.1em 0.2em;
    font-family: "Outfit", sans-serif;
    font-weight: 500;
}
t{
    font-size: clamp(24px, 6vw, 50px);
}
.texts {
    padding: 20px;
    margin: 45px; /* Ajuste da margem superior */
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    color: rgb(59, 59, 59);
}
.subtitle {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 5px; /* Adiciona espaçamento entre o texto e o ícone */
    margin-top: -29px; /* Reduzi a margem negativa para evitar sobreposição */
    font-size: clamp(8px, 3vw, 12px); 
    color: rgb(126, 126, 126);
}

h1{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:  rgb(242, 136, 34);
    font-size: clamp(20px, 6vw, 30px); 
}
h1e{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color:  rgb(255, 255, 255);
    font-size: clamp(20px, 6vw, 30px); 
}
p,li {
    display: block;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: clamp(10px, 3vw, 17px);
    line-height: 1.5; 
    text-align: center;
}
li{
    text-align: left;
}
.chart-container {
    width: 100%;
    height: 500px;
    margin: 20px auto;
}
.endpage{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 5px; 
    margin-top: 50px;
    font-size: clamp(7px, 3vw, 14px); 
    color: rgb(116, 115, 115);
}
@media screen and (max-width: 768px) {
   body{
    display: block;
    margin: 0%;
    overflow-x: hidden;
   }
   
}